---
layout: markdown_page
title: "Ops & CI/CD Quality Engineering team"
---

## On this page
{:.no_toc}

- TOC
{:toc}

Engineers in this team are embedded in the [Ops sub-department] and [CI/CD sub-department].

## Areas of Responsibility

All stages under [Ops sub-department] and [CI/CD sub-department].
* **[Verify stage]**: CI tools
  * Third-party CI: Jenkins, Bamboo, etc.
* **[Release stage]**: Continuous Delivery, Review Apps, Release Automation, Feature Flags, Pages
* **[Package stage]**: Registry Integration for containers, binaries
* **[Configure stage]**: Application, Infrastructure, Auto DevOps
* **[Monitor stage]**: APM, Logging, Tracking

## Team members

<%= direct_team(manager_role: 'Quality Engineering Manager, Ops & CI/CD') %>

[Ops sub-department]: h/handbook/product/categories/#ops-sub-department
[Configure stage]: /handbook/product/categories/#configure-stage
[Monitor stage]: /handbook/product/categories/#monitor-stage
[CI/CD sub-department]: h/handbook/product/categories/#cicd-sub-department
[Verify stage]: /handbook/product/categories/#verify-stage
[Release stage]: /handbook/product/categories/#release-stage
[Package stage]: handbook/product/categories/#create-stage
