---
layout: markdown_page
title: "Dev Quality Engineering team"
---

## On this page
{:.no_toc}

- TOC
{:toc}

Engineers in this team are embedded in the [Dev sub-department].

## Areas of Responsibility

All stages under [Dev sub-department].
* **[Manage stage]**: Configuration, Admin, Groups & Subgroups, i18n
  * Third-party Authentication: Oauth, LDAP, SAML
* **[Plan stage]**: Project Management, Issues, Boards, Epics, Roadmap, Markdown, Labels, Search, Todos, Weights, Due dates
  * Third-party Chat Integrations: Slack, Mattermost
  * Third-party Project Management: Jira, etc.
  * Third-party Communication: Email
* **[Create stage]**: Code Review, Merge Requests, Diffs, Approvals, Web IDE, Wikis, Snippets
  * Source Control: Git Operations, Gitaly
  * Third-party Source Control: GitHub, Bitbucket

## Team members

<%= direct_team(manager_role: 'Interim Quality Engineering Manager, Dev') %>

[Dev sub-department]: handbook/product/categories/#dev-sub-department
[Manage stage]: /handbook/product/categories/#manage-stage
[Plan stage]: /handbook/product/categories/#plan-stge
[Create stage]: handbook/product/categories/#create-stage
